{ 
    "channel number": 2,     
    
    "dwell": 1, 
    "pause": 3,
    "curve": 22, 
    "tempco": 1,
    
    "display location": 2,
    "units": "Kelvin", 
    "resolution": 6, 

    "excitation mode": "Voltage",
    "excitation": 632e-6, 
    "range": 500,
    "autorange": 0, 
    "cs off": 0, 
    
    "filter": 0, 
    "settle time": 2, 
    "window": 10
    
}