{ 
    "channel number": 1,     
    
    "dwell": 1, 
    "pause": 3,
    "curve": 1, 
    "tempco": 1,
    
    "display location": 1,
    "units": "Kelvin", 
    "resolution": 6, 

    "excitation mode": "Voltage",
    "excitation": 2e-3,
    "range": 10e3,
    "autorange": 0,
    "cs off": 0,
    
    "filter": 0, 
    "settle time": 2, 
    "window": 10
    
}